@charset "UTF-8";
.studyboard_back00 {
   margin-top:100px; 
   margin-bottom:100px; 
   text-align:center;
   position:relative;
}
#back_btn{
   display:inline-block;
   width:35px;
   height:35px;
   border: 4px solid #ddd;
   border-radius: 50%;
   padding:5px;
   position:absolute;
   left:15vw;
   top:10vh;
   cursor:pointer;
}
.studyboard_back01 {
   width:55vw;
   margin:0 auto;
   display:inline-block;
}
.studyboard_back02 {
   height:700px;
   border-radius:15px;
   margin-bottom:20px;
   padding-top:20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 30%);
}
/*====================제목, 게시자 정보=====================*/
#studyboard_title{
   height:150px;
   line-height:50px;
}
.titleSection{
   font-size:2em;
}
.titleSection_child{
   width:100%;
   font-size:1.2em;
}
.titleSection_child span:first-child{
   padding-left:30px;
   float:left !important;
}
.titleSection_child span{
   padding-right:30px;
   float:right !important;
}
#studyboard_profile {
   width: 30px;
   border-radius: 50%;
}
.tagBox{
   height:60px;
}
.tag_title{
   height:40px;
   line-height:40px;
   font-size:1.3em;
}
.lang_list {
   width:80px;
   height:30px;
   display:inline-block;
   background-color: #FEF5D4;
   border-radius: 5px;
   line-height:30px;
   font-size:14px;
}
.tag_list {
   width:80px;
   height:30px;
   line-height:30px;
   display:inline-block;
   background-color: rgb(232,244,232);
   border-radius: 5px;
   font-size:14px;
}
/*====================게시글 내용=====================*/
#studyboard_content{
   height:350px;
   line-height:35px;
   margin:50px;
   margin-top:50px;
   position:relative;
   text-align:left;
}
#content_box{
   height:350px;
   font-size:1.8em;
   overflow:auto;
   overflow-x:hidden;
}
#content_box img{
   max-width:100%;
   min-width:40%;
   max-height:80%;
   min-height:40%;   
}
.studyboard_content_btn{
   position:relative;
   height:100px;
}
.content_edit_btns, .content_del_btns {
   letter-spacing:1px;
   background-color:rgba(85, 76, 66, 80%);
   border-radius:10px;
   border:none;
   color:white;
   cursor:pointer;
   padding:10px;
   font-size:1.3em;
}
/*====================댓글 등록폼=====================*/
.studyboard_back04{
   height:120px;
   padding-top:30px;
   position:relative;
}
#replyWriteForm{
   height:80px;
   position:relative;
}
#reply_coment{
   height:40px;
   width:80%;
   border-radius:10px;
}
#addReplybtn{
   width:100px;
   height:40px;
   background-color:rgba(85, 76, 66, 80%);
   border-radius:10px;
   border:none;
   color:white;
   font-size:1.3em;
}
/*====================댓글 리스트=====================*/
/*답변 채택*/
#reply_div{
   text-align:center;
   height:120px;
   position:relative;
}
.studyboard_back03_reply{
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 30%);
   border-radius:15px;
   height:120px;
   width:55vw;
   position:relative;
   margin-bottom:10px;
}
/*====================reply top=======================*/

.reply_top{
   height:40px;
   flex-direction:row;
}
.studyboard_profile_reply{
   width:40%;
   margin:10px;
   text-align:left;
   justify-content: space-between;
   font-size:1.3em;
}
.studyboard_profile_span img{
   width:30px;
}
.reply_date{
   width:47%;
   text-align:right;
   padding-right:10px;
   justify-content: space-between;
}
.reply_bottom{
   height:70px;   
}
.reply_content{
   width:80%;
   text-align:left;
   margin:10px;
   font-size:1.5em;
   display:inline-block;
}
#reply_btns{
   float:right;
   display:inline-block;
}
.studyboard_like{
   width: 30px;
}
.like_span{
   display: inline-block;
   font-size:15px;
   padding-top:10px;
   color:dimgray;
   cursor:pointer;
}
.like_span img{
   width:25px;
}
/*====================reply bottom=======================*/

.edit_btns, .del_btns {
   letter-spacing:1px;
   background-color:rgba(85, 76, 66, 80%);
   border-radius:10px;
   border:none;
   color:white;
   cursor:pointer;
   padding:7px;
   font-size:0.8em;
}
.graySquare {
   resize: none;
   border: 2px solid #bbb;
   border-radius: 5px;
   padding: 20px;
}
.modal {
   position: absolute;
   width: 100%;
   height: 1280px;
   background: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;
   display: none;
}

.modal_content {
   width: 600px;
   height: 400px;
   background: rgba(255, 255, 255, 1);
   position: relative;
   top: 40%;
   left: 50%;
   margin-top: -200px;
   margin-left: -300px;
   text-align: center;
   box-sizing: border-box;
   padding: 50px 10px;
   border-radius: 50px;
   line-height: 21px;
   font-size: 18px;
}

.report_submit {
   width:100px;
   height:40px;
   background-color:rgba(85, 76, 66, 80%);
   border-radius:10px;
   border:none;
   color:white;
   font-size:0.8em;
}
.report_cancel{
   width:100px;
   height:40px;
   background-color:rgba(85, 76, 66, 80%);
   border-radius:10px;
   border:none;
   color:white;
   font-size:0.8em;
}