@charset "UTF-8";
.qna_back {
	width: 1000px;
	margin: 0 auto;
	margin-top:100px;
	position:relative;
}
#qna_list h1{
	text-align:center;
	font-family: 'ROKAFSansBold' !important;
}
#qna_logo{
	width:100%;
	display:inline-block;
	cursor:pointer;
}
#qna_top01{
	margin-left:0;
	width:20%;
	display:inline;
}
#qna_top02{
	float:right;
	margin-right:5px;
	width:15%;
	display:inline;
	cursor:pointer;
	letter-spacing: 5px;
}
.gray_box {
	line-height: 35px;
	border-radius: 5px;
	padding: 10px;
	width:10%;
	background-color:rgb(230, 223, 215);
	color:rgba(85, 76, 66, 80%);
	font-size:16px;
	font-weight:700;
}
/*검색*/
.search_div{
	text-align:center;
	height:100px;
}
.searchbox li{
	display:inline-block;
}

.searchKey{
	border: 1px solid #ccc;
	line-height:25px;
	font-size:13px;
	padding:5px;
}
.searchWord{
	border: 1px solid #ccc;
	line-height:26px;
	font-size:14px;
	width:200px;
}
.search_icon{
	width:25px;
	height:25px;
	padding:3px;
	cursor:pointer;
}
/*qna리스트*/
.qna_ul {
	margin-left:50px;
	line-height: 45px;
	display:inline-block;
	width:750px;
	font-size:15px;
	cursor:pointer;
}
.qna_ul2 {
	line-height: 45px;
	display:inline-block;
	width:150px;
	font-size:12px;
}
.qna_ul li, .qna_ul2 li{
	text-overflow:ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}
.lang_list {
	background-color: #FEF5D4;
	border-radius: 5px;
	padding: 5px;
	font-size:11px;
}

.tag_list {
	background-color: rgb(232,244,232);
	border-radius: 5px;
	padding: 5px;
	font-size:11px;
}

#qna_profile {
	width: 40px;
	height:40px;
	border-radius: 50%;
}
#qna_content::-webkit-scrollbar{ display:none; }
#qna_content{ -ms-overflow-style: none; }

.gray_border {
	line-height: 30px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #ddd;
	font-size:15px;
}
.white_border {
	line-height: 30px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #fff;
	font-size:15px;
}
/*답변 채택*/
.not_selected{
	line-height: 15px;
	border-radius: 50%;
	padding: 3px;
	font-size:12px;
	background-color: RGB(255,239,222);
}
.is_selected{
	line-height: 15px;
	border-radius: 50%;
	padding: 3px;
	font-size:12px;
	background-color: RGB(222,239,255);
}
/* =====================페이징============================== */
.pagingContainer{
	margin:0 auto;
}
.page-link{
	border:none !important;
	font-size:1.5em;
	color:black !important;
}
.page-link:hover{
	background-color:rgba(85, 76, 66, 70%) !important;
	color:white !important;
	border-radius:5px !important;
}