@charset "UTF-8";
.qna_back00 {
	margin-top:100px; 
	margin-bottom:100px; 
	text-align:center;
	position:relative;
}
#back_btn{
	display:inline-block;
	width:35px;
	height:35px;
	border: 4px solid #ddd;
	border-radius: 50%;
	padding:5px;
	position:absolute;
	left:15vw;
	top:10vh;
	cursor:pointer;
}
.qna_back01 {
	width:55vw;
	margin:0 auto;
	display:inline-block;
}
.qna_back02 {
	height:700px;
	border-radius:15px;
	margin-bottom:20px;
	padding-top:20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 30%);
}
/*====================제목, 게시자 정보=====================*/
#qna_title{
	height:150px;
	line-height:50px;
}
.titleSection{
	font-size:2em;
}
.titleSection_child{
	width:100%;
	font-size:1.2em;
}
.titleSection_child span:first-child{
	padding-left:30px;
	float:left !important;
}
.titleSection_child span{
	padding-right:30px;
	float:right !important;
}
#qna_profile {
	width: 30px;
	border-radius: 50%;
}
.tagBox{
	height:60px;
}
.tag_title{
	height:40px;
	line-height:40px;
	font-size:1.3em;
}
.lang_list {
	width:80px;
	height:30px;
	display:inline-block;
	background-color: #FEF5D4;
	border-radius: 5px;
	line-height:30px;
	font-size:14px;
}
.tag_list {
	width:80px;
	height:30px;
	line-height:30px;
	display:inline-block;
	background-color: rgb(232,244,232);
	border-radius: 5px;
	font-size:14px;
}
/*====================게시글 내용=====================*/
#qna_content{
	height:350px;
	line-height:35px;
	margin:50px;
	margin-top:50px;
	position:relative;
	text-align:left;
}
#content_box{
	height:350px;
	font-size:1.8em;
	overflow:auto;
	overflow-x:hidden;
}
#content_box img{
	max-width:100%;
	min-width:40%;
	max-height:80%;
	min-height:40%;	
}
.qna_content_btn{
	position:relative;
	height:100px;
}
.content_edit_btns, .content_del_btns {
	letter-spacing:1px;
	background-color:rgba(85, 76, 66, 80%);
	border-radius:10px;
	border:none;
	color:white;
	cursor:pointer;
	padding:10px;
	font-size:1.3em;
}
/*====================댓글 등록폼=====================*/
.qna_back04{
	height:120px;
	padding-top:30px;
	position:relative;
}
#replyWriteForm{
	height:80px;
	position:relative;
}
#reply_coment{
	height:40px;
	width:80%;
	border-radius:10px;
}
#addReplybtn{
	width:100px;
	height:40px;
	background-color:rgba(85, 76, 66, 80%);
	border-radius:10px;
	border:none;
	color:white;
	font-size:1.3em;
}
/*====================댓글 리스트=====================*/
/*답변 채택*/
#reply_div{
	text-align:center;
	height:120px;
	position:relative;
}
.qna_back03_reply{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 30%);
	border-radius:15px;
	height:120px;
	width:55vw;
	position:relative;
	margin-bottom:10px;
}
/*====================reply top=======================*/

.reply_top{
	height:40px;
	flex-direction:row;
}
.qna_profile_reply{
	width:40%;
	margin:10px;
	text-align:left;
	justify-content: space-between;
	font-size:1.3em;
}
.qna_profile_span img{
	width:30px;
}
.reply_date{
	width:47%;
	text-align:right;
	padding-right:10px;
	justify-content: space-between;
}
.reply_bottom{
	height:70px;	
}
.reply_content{
	width:80%;
	text-align:left;
	margin:10px;
	font-size:1.5em;
	display:inline-block;
}
#reply_btns{
	float:right;
	display:inline-block;
}
.qna_like{
	width: 30px;
}
.like_span{
	display: inline-block;
	font-size:15px;
	padding-top:10px;
	color:dimgray;
	cursor:pointer;
}
.like_span img{
	width:25px;
}
/*====================reply bottom=======================*/
#select_btn{
	background-color:rgba(85, 76, 66, 80%);
	border-radius:10px;
	color:white;
	padding:6px;
	cursor:pointer;
}
.not_selected{
	line-height: 15px;
	border-radius: 50%;
	padding: 3px;
	font-size:17px;
	background-color: RGB(255,239,222);
}
.is_selected_01{
	cursor:pointer;
	font-size:1.2em;
}
.is_selected_02{
	line-height: 15px;
	border-radius: 50%;
	padding: 4px;
	font-size:17px;
	background-color: RGB(222,239,255);
}
.edit_btns, .del_btns {
	letter-spacing:1px;
	background-color:rgba(85, 76, 66, 80%);
	border-radius:10px;
	border:none;
	color:white;
	cursor:pointer;
	padding:7px;
	font-size:0.8em;
}
.graySquare {
	resize: none;
	border: 2px solid #bbb;
	border-radius: 5px;
	padding: 20px;
}
