@charset "UTF-8";
.qna_back00 {
	text-align:center;
	margin-top:150px; 
	margin-bottom:100px; 
}
#back_btn{
	display:inline-block;
	width:35px;
	height:35px;
	border: 4px solid #ddd;
	border-radius: 50%;
	padding:5px;
	position:absolute;
	left:15vw;
	top:23vh;
	cursor:pointer;
}
.qna_back01 {
	text-align:center;
	width:60vw;
	margin:0 auto;
}
.qna_title{
	width:1000px;
	height:40px;
	line-height:40px;
	margin:0 auto;
	margin-bottom:40px;
	padding-left:30px;
}
.qna_titlespan{
	background-color:rgba(85, 76, 66, 80%);
	font-size:1.8em;
	color:white;
	border-radius:10px;
}
.qna_titlebox{
	width:600px;
	height:40px;
	border:0.5px solid rgba(85, 76, 66, 80%);
	border-radius:10px;
	font-size:1.5em;
	padding-left:10px;
}
#qna_content{
	padding:30px;
	padding-bottom:10px;
	position:relative;
}
#plus{	
	display:inline-block;
	width:30px;
	height:30px;
	border: 4px solid #ddd;
	border-radius: 50%;
	padding:5px;
	font-size:20px;
	cursor:pointer;
	top:0;
}
#lang_ul{
	margin-top:30px;
}
#ul_big li{
	float:left;
	margin-left:5px;
	margin-right:5px;
}
/*언어타입*/
#lang_ul{
	background-color:#eee;
	border-radius:10px;
}
#lang_ul li{
	display:inline-block;
	padding:10px;
	font-size: 15px;
	width:12%;
}
/*태그*/
#tag_ul{
	margin:30px;
}
#tag_ul li{
	float:left;
	margin-left:5px;
	margin-right:5px;
	font-size: 15px;
}
.tag_box{
	width:100px;
	height:30px;
	border-radius:5px;
	border:1px solid #aaa;
}
#submit_btn{
	margin-top:50px;
	width:100px;
	height:40px;
	font-size:1.5em;
	letter-spacing:1px;
	background-color:rgba(85, 76, 66, 80%);
	border-radius:10px;
	border:none;
	color:white;
}
#qnaTextArea, #lang_ul{
	border-radius:10px;
	filter: drop-shadow(0px 0px 3px rgba(0,0,0,30%));
}
