<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hot6.project.dao.BoardDAO">
	<select id="getFileName" resultType="BoardVO">
		SELECT 	* 
		FROM 	board_image 
		WHERE 	board_num=#{board_num}
	</select>
	<select id="getType_num" resultType="int">
		SELECT 	board_type_num
		FROM 	board
		WHERE 	board_num = #{param1}
	</select>
	<delete id="boardDelete">
		DELETE 	FROM board 
		WHERE 	board_num=#{param1}
	</delete>
	<select id="getStudy_num" resultType="int">
		SELECT 	study_num
		FROM 	board
		WHERE 	board_num = #{param1}
	</select>
	<!-- 댓글 리스트 -->
	<select id="replyList" resultType="BoardVO">
		SELECT 		A.*, B.user_nick, B.profile_img,
					COUNT( case when ifnull(C.user_id, 0)= #{param1} then 1 end) AS like_type,
					COUNT(C.user_id) AS like_num,
	                D.user_id AS writer_id
		FROM 		reply A
		LEFT JOIN 	user B
		ON 			A.user_id = B.user_id
		LEFT JOIN 	reply_like C
		ON			A.reply_num = C.reply_num
	    LEFT JOIN	board D
	    ON			D.board_num = A.board_num
		WHERE 		A.board_num = #{param2}
		GROUP BY 	A.reply_num
		ORDER BY 	selected DESC, like_num DESC, A.reply_num
		<!-- 정렬: 채택된 답변 > 좋아요순 > 오래된순 -->
	</select>
	<!-- 댓글 작성 -->
	<insert id='replyWrite'>
		INSERT 	reply(board_num, user_id, reply_coment, ip) 
		VALUES	(#{board_num}, #{user_id}, #{reply_coment}, #{ip})
	</insert>
	<!-- 댓글 삭제 -->
	<delete id="replyDel">
		DELETE 	FROM reply
		WHERE 	reply_num=#{param1}
	</delete>
	<!-- 댓글 수정폼 -->
	<select id="getOneReply" resultType="BoardVO">
		SELECT 	* 
		FROM 	reply 
		WHERE 	reply_num = #{param1}
	</select>
	<!-- 댓글 수정 -->
	<update id="replyEditOk">
		UPDATE 	reply 
		SET 	reply_coment=#{reply_coment} 
		WHERE 	reply_num=#{reply_num}
	</update>
	<!-- 글 등록 -->
	<insert id='boardInsert'>
		INSERT 	board(user_id, title, content, board_type_num, ip) 
		VALUES 	(#{user_id}, #{title}, #{content}, #{board_type_num}, #{ip});
	</insert>
	<select id="boardNum" resultType="int">
		SELECT 	 board_num 
		FROM 	 board 
		WHERE 	 user_id = #{param1}
		ORDER BY board_num DESC
		LIMIT 	 1
	</select>
	<insert id='boardFileInsert'>
		INSERT 	board_image(board_num, file1, file2, file3, file4, file5) 
		VALUES	(#{board_num}, #{file1}, #{file2}, #{file3}, #{file4}, #{file5})
	</insert>
	<insert id='boardTagInsert'>
		INSERT board_hashtag(board_num, tag) 
		VALUES (#{board_num}, 
		<foreach collection="ChkList" item="item" separator=","> 
 					#{item})
 		</foreach>
	</insert>
	<insert id='boardLangInsert'>
		INSERT  board_lang_type(board_num, lang_type_num) 
		VALUES (#{board_num}, 
		<foreach collection="ChkList" item="item" separator=","> 
 					#{item})
 		</foreach>
	</insert>
	
</mapper>