<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.hot6.project.dao.NotificationDAO">
	<!-- 알림 추가 -->
	<insert id="insertNotification" parameterType="NotificationVO">
 		INSERT INTO notification
 		VALUES (null, #{receiver_id}, #{sendtime}, #{content}, #{isread});
 	</insert>
 	
 	<!-- 세션 아이디에 따라 알림 불러오기 -->
 	<select id="selectNotifications" resultType="NotificationVO" parameterType="String">
 		SELECT *
 		FROM notification
 		WHERE receiver_id = #{receiver_id}
 		ORDER BY notification_num DESC;
 	</select>
 	
 	<!-- 세션 아이디에 따라 알림 최대 3개 불러오기 -->
 	<select id="selectCurNotifications" resultType="NotificationVO" parameterType="String">
 		SELECT *
 		FROM notification
 		WHERE receiver_id = #{receiver_id}
 		ORDER BY notification_num DESC
 		LIMIT 3;
 	</select>
 	
 	<update id="updateRead" parameterType="int">
 		UPDATE notification
 		SET isread = true
 		WHERE notification_num = #{notification_num};
 	</update>
 	
 	<!-- 읽지 않은 알림 개수 -->
 	<select id="countNotRead" resultType="int" parameterType="String">
 		SELECT COUNT(*)
 		FROM notification
 		WHERE receiver_id = #{receiver_id} and isread = false;
 	</select>
 	
 	<!-- 알림 받은 사람 아이디 -->
 	<select id="selectReceiverid" resultType="String" parameterType="int">
 		SELECT receiver_id
 		FROM notification
 		WHERE notification_num = #{notification_num};
 	</select>
 	
 	<delete id="deleteNotification" parameterType="int">
 		DELETE FROM notification
 		WHERE notification_num = #{notification_num};
 	</delete>
</mapper>