<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hot6.project.dao.QnaDAO">
<!-- 질문 수 -->
<select id="TotalQna" resultType="int">
	SELECT 	COUNT(board_num) AS total_qna 
	FROM 	board 
	WHERE 	board_type_num=2
</select>
<!-- 질문 리스트 -->
<select id="QnaList" resultType="BoardVO">
	SELECT 	  A.*, B.*, IFNULL(C.count_reply,0) AS count_reply
	FROM 	  board A
    LEFT JOIN user B
    ON 		  A.user_id=B.user_id
    LEFT JOIN (SELECT board_num,COUNT(reply_num) AS count_reply FROM reply GROUP BY board_num) C
    ON		  C.board_num=A.board_num
	ORDER BY  board_num DESC
</select>
<!-- 질문 리스트 : 언어타입 -->
<select id="QnaLangType" resultType="String">
	SELECT 	A.lang_type_name 
	FROM 	lang_type A 
	JOIN 	board_lang_type B 
	ON 		A.lang_type_num = B.lang_type_num 
	WHERE 	B.board_num=#{param1}
</select>
<!-- 질문 리스트 : 태그 -->
<select id="QnaTag" resultType="String">
	SELECT 	tag 
	FROM 	hashtag 
	WHERE 	board_num=#{param1}
</select>
</mapper>