<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hot6.project.dao.StudyDAO">
	<!-- 스터디 추천 -->
	<select id="StudyRecommend" resultType="StudyVO">
		SELECT 	  	A.*,E.*,  ifnull(G.in_people,0) AS in_people, (A.max -  ifnull(G.in_people,0)) AS remain
		FROM 	  	study_room A
		INNER JOIN 	user B
		ON 		  	A.study_type_num = B.study_type_num
	    JOIN 		study_type E
	    ON 		  	E.study_type_num =  A.study_type_num
	    LEFT JOIN 	(SELECT study_num, COUNT(want_ok) AS in_people FROM study_mate WHERE want_ok='T' GROUP BY study_num ) G
	    ON		  	G.study_num=A.study_num
	    WHERE 		user_id=#{param}
	    ORDER BY  	remain, A.study_num
	    LIMIT 6;
	</select>
  	<!-- 스터디 추천: 언어타입 -->
	<select id="StudyLangType" resultType="string">
		SELECT  B.lang_type_name 
	    FROM    study_lang_type A
	    JOIN    lang_type B
	    ON      A.lang_type_num =B.lang_type_num and A.study_num=#{param1}
	</select>
  	<!-- 스터디 추천: 태그 -->
	<select id="StudyTag" resultType="string">
		SELECT 	tag
	    FROM 	study_hashtag
	    WHERE 	study_num=#{param1}
	</select>
	
	<!-- 달력 페이지 -->
	<select id="CalendarList" resultType="StudyVO">
		SELECT 		A.*, B.color_name
		FROM 		calendar A
		LEFT JOIN 	calendar_color B
		ON 			A.color_num = B.color_num
		WHERE 		study_num=#{param1}
	</select>
	
	<!-- 일정 등록 -->
	<insert id="PlanInsert">
		INSERT calendar(study_num, plan_name, plan_detail, plan_start, plan_finish, start_time, finish_time, color_num)
		VALUES (#{study_num}, #{plan_name}, #{plan_detail}, #{plan_start}, #{plan_finish}, #{start_time}, #{finish_time}, #{color_num})
	</insert>
	
	<!-- 일정 상세 -->
	<select id="CalendarDetail" resultType="StudyVO">
		SELECT 	A.*, B.color_name
		FROM 	calendar A
		JOIN 	calendar_color B
		ON		B.color_num = A.color_num
		WHERE 	A.plan_num = #{param1}
	</select>
	
	<!-- 일정 삭제 -->
	<delete id="CalendarDel">
		DELETE FROM calendar 
		WHERE 	plan_num=#{param1}
	</delete>
	
	<!-- 일정 수정 -->
	<update id="CalendarEdit">
		UPDATE 	calendar 
		SET 	plan_name=#{plan_name}, plan_detail=#{plan_detail}, plan_start=#{plan_start}, plan_finish=#{plan_finish}, 
				start_time=#{start_time}, finish_time=#{finish_time}, color_num=#{color_num} 
		WHERE 	plan_num=#{plan_num}; 
	</update>
	
	
</mapper>