<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot6.project.dao.StudyInfoDAO">
	<select id="studyHome"  resultType="StudyVO">
		select is_mentor, s.study_type_num, lang_type_name, study_img, study_name, host_id, start_date, finish_date, max
		from study_room s join study_type t
		on s.study_type_num = t.study_type_num
		join study_lang_type sl
		on sl.study_num = s.study_num
		join lang_type l
		on l.lang_type_num=sl.lang_type_num
		order by study_type_name
		
		<if test="sclass!=null">
			and study_type_name in 
			<foreach item="item" collection="sclass" open="(" separator="," close=")">
				#{item}
			</foreach>
			
		</if>
	</select>
	<select id="studyLang" resultType="String">
		select lt.lang_type_name 
		from study_lang_type st join lang_type lt on st.lang_type_num=lt.lang_type_num and st.study_num=#{param1}
	</select>
	<select id="langAll" resultType="StudyVO">
		select*from lang_type order by lang_type_name
	</select>
	<select id="StudyTag" resultType="string">
		SELECT tag
		FROM study_hashtag
		WHERE study_num=#{param1}
	</select>
</mapper>