<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot6.project.dao.StudyDetailDAO">
	<select id="studydetail" resultType="StudyVO">
		select study_img, study_name, study_rule, host_id, max
		from study_room where study_num=#{param1}
	</select>
	<select id="studyuser" resultType="StudyVO">
		select A.want_ok, A.want_coment, B.user_nick, B.profile_img
		from study_mate A join user B on A.user_id=B.user_id 
		where study_num=#{param1} and want_ok="T" 
		<!-- SELECT 	A.want_ok, A.want_coment, B.user_id, B.user_nick
		FROM 	study_mate A 
		JOIN 	user B 
		ON 		A.user_id=B.user_id 
		WHERE 	study_num=#{param1} AND want_ok="T"  -->
	</select>
	<!-- select is_mentor, s.study_type_num, lang_type_name, study_img, study_name, host_id, start_date, finish_date, max
		from study_room s join study_type t
		on s.study_type_num = t.study_type_num
		join study_lang_type sl
		on sl.study_num = s.study_num
		join lang_type l
		on l.lang_type_num=sl.lang_type_num
		where s.study_num=#{param1}
		order by study_type_name-->
		
	<select id="studyRoom" resultType="StudyVO">
		select study_img, study_name, study_rule, host_id 
		from study_room where study_num=#{param1}
	</select>
	<select id="mateList" resultType="StudyVO">
		SELECT 	B.user_nick
		FROM 	study_mate A 
		JOIN 	user B 
		ON 		A.user_id=B.user_id 
		WHERE 	study_num=#{param1} AND want_ok="T" 
	</select>
	<!-- 좋아요 누르기 -->
	<insert id='LikeUp'>
	    insert study_like(user_id, study_num) values (#{param1}, #{param2})
	</insert>
	<!-- 좋아요 취소 -->
	<delete id='LikeDown'>
	   	delete from study_like
	   	where user_id=#{param1} and study_num=#{param2}
	</delete>
	<select id="LikeDetail" resultType="StudyVO">
		SELECT 	 B.user_id, C.study_num,
					COUNT( case when ifnull(C.user_id, 0)= #{param1} then 1 end) AS like_type,
					COUNT(C.user_id) AS like_num
		from	user B
		LEFT JOIN 	study_like C
		ON			B.user_id=C.user_id
		WHERE 		C.study_num = #{param2}
		GROUP BY 	C.study_num;
	</select>
	
</mapper>
