<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hot6.project.dao.StudyDAO">
	<!-- 스터디 추천 -->
	<select id="StudyRecommend" resultType="StudyVO">
		SELECT 	  	A.*,E.*,  ifnull(G.in_people,0) AS in_people, (A.max -  ifnull(G.in_people,0)) AS remain
		FROM 	  	study_room A
		INNER JOIN 	user B
		ON 		  	A.study_type_num = B.study_type_num
	    JOIN 		study_type E
	    ON 		  	E.study_type_num =  A.study_type_num
	    LEFT JOIN 	(SELECT study_num, COUNT(want_ok) AS in_people FROM study_mate WHERE want_ok='T' GROUP BY study_num ) G
	    ON		  	G.study_num=A.study_num
	    WHERE 		user_id=#{param1}
	    ORDER BY  	remain, A.study_num
	    LIMIT 		6
	</select>
	<!-- 스터디 추천: 언어타입 -->
	<select id="StudyLangType" resultType="string">
		SELECT B.lang_type_name
		FROM study_lang_type A
		JOIN lang_type B
		ON A.lang_type_num =B.lang_type_num and A.study_num=#{param1}
	</select>
	<!-- 스터디 추천: 태그 -->
	<select id="StudyTag" resultType="string">
		SELECT tag
		FROM study_hashtag
		WHERE study_num=#{param1}
	</select>
	<!-- 스터디 게시판 글 등록 -->
	<insert id='StudyboardInsert'>
		INSERT 	board(study_num, user_id, title, content, board_type_num, ip) 
		VALUES 	(#{study_num}, #{user_id}, #{title}, #{content}, #{board_type_num}, #{ip});
	</insert>
	<!-- study_num 으로 스터디 가져오기 -->
	<select id='getStudyByStudynum' resultType='StudyVO'>
		SELECT 		A.*, B.user_nick
		FROM 		study_room A
		LEFT JOIN 	user B
		ON 			A.host_id = B.user_id
		WHERE 		A.study_num=#{param1}
	</select>
	<!-- 스터디원 리스트 -->
	<select id='StudyMates' resultType='StudyVO'>
		SELECT 	A.user_id, A.user_nick
		FROM 	user A
		JOIN 	study_mate B
		ON 		A.user_id=B.user_id
		WHERE 	B.study_num=#{param1}
	</select>
</mapper>
