<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot6.project.dao.StudyRegisterDAO">
	<select id="register_content"  resultType="StudyVO">
		select is_mentor, study_img, study_name, study_num, host_id, start_date, finish_date, max
		from study_room
	</select>
	<insert id='studyInsert'>
		INSERT study_room(study_type_num, study_name, study_rule, study_img,
		start_date, finish_date, max, ip, is_mentor, host_id, study_content1, study_content2)		
		VALUES(#{param1.study_type_num}, #{param1.study_name}, #{param1.study_rule}, #{param1.study_img},
		#{param1.start_date}, #{param1.finish_date}, #{param1.max}, #{param1.ip}, #{param1.is_mentor}, #{param1.host_id}, 
		#{param1.study_content1}, #{param1.study_content2}) 
	</insert>
	<select id="studyNum" resultType="int">
		SELECT 	 study_num 
		FROM 	 study_room 
		WHERE 	 host_id = #{param1}
		ORDER BY study_num DESC
		LIMIT 	 1
	</select>
	<insert id='studyLangInsert'>
	INSERT  study_lang_type(study_num, lang_type_num) 
	VALUES 
	<foreach collection="lang_list" item="item" separator=","> 
 		(#{study_num}, #{item})
 	</foreach>		
	</insert>
	<insert id='studyTagInsert'>
	INSERT study_hashtag(study_num, tag) 
	VALUES  
	<foreach collection="tag_list" item="item" separator=",">
        (#{study_num}, #{item})
    </foreach>
	</insert>
</mapper>