@charset "UTF-8";
#mainImage>img{
	width:100%;
	height:80%;
}
#mainImage {
	vertical-align: middle;
}
#mainText {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	color:white;
	font-family: 'paybooc-Bold';
	font-size:4em;
	letter-spacing:20px;
	transform: translate( -50%, -50% );
	user-select:none;
}