@charset "UTF-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: gray;
    }
    body, ul, li{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    body::-webkit-scrollbar{
        	display: none;
    }
    body * {
    	font-family: "NanumSquare";
    	transform: skew(-0.03deg);
    }
    h2{
    	font-weight: bold;
    }
    .page{
        width: 100%;       
        display: flex;
        min-height: 85vh; 
        align-items: center;
        margin-top:60px;
    }
    .content{
        width:500px;
        margin: 0 auto;
        border: 1px solid rgb(240,240,240);
        height: 430px;
    }
    .content h2{
    	text-align: center;
    	margin-top:30px;
    } 
    .userForm{
        text-align: center;
        width:500px;
        height: 320px;
        margin: 0 auto;
        justify-content: center;
        position: relative;
        border-radius: 3px;
    }
    .userForm ul{
        position: relative;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); 
    }
    .userForm li input{
        width: 400px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid #ddd;
        display: inline-block;
        font-size: 16px;
        /* letter-space: 5px; */
    }
    input[type=password]{
    	font-family:'Malgun gothic', dotum, sans-serif;
    }
    .submitButton{
        margin-top: 30px;
        background-color: rgb(230, 223, 215);
    }
    .userLink{
        width:500px;
        text-align: center;
    }
    .userLink ul{
        text-align: center;
        margin-top: 15px;
    }
    .userLink li{
        float: left;
        width: 33.3%;
        font-size: 14px;
        
    }
    .userLink a{
    	color: gray;
    }
 