.noticeWriteContainer{
	margin:0 auto;
	margin-top:100px;
	height:85%;
	min-height:800px;
	text-align:center;	
	position:relative;
}
.noticeTitle{
	margin-bottom:40px;
}
.noticeWriteTitleContainer{
	width:1000px;
	height:40px;
	line-height:40px;
	margin:0 auto;
	margin-bottom:40px;
	padding-left:30px;
}
.noticeWriteTitle{
	background-color:rgba(85, 76, 66, 80%);
	font-size:1.8em;
	color:white;
	border-radius:10px;
}
.noticeWriteTitleBox{
	width:600px;
	height:40px;
	border:0.5px solid rgba(85, 76, 66, 80%);
	border-radius:10px;
	font-size:1.5em;
	padding-left:10px;
}
.noticeTextArea{
	width:1000px;
	margin:0 auto;
}
.ck.ckeditor{
	min-width:1000px;
}
.ck-editor__editable{
	max-width:1000px;
	min-height:550px;
}
.registBtn{
	width:100px;
	height:40px;
	letter-spacing:1px;
	border-radius:10px;
	background-color:rgb(230, 223, 215);
	color:rgba(85, 76, 66, 80%);
	font-size:16px;
	font-weight:700;
}