@charset "UTF-8";
.noticeContainer{
	width:100%;
	height:963px;
	position:relative;
	text-align:center;
}
.noticeTitle{
	margin-top:100px;
	margin-bottom:40px;
}
.noticeBoard{
	margin:0 auto;
	width:1500px;
	height:800px;
	background-color:#ddd;
	position:relative;
}
.noticeList li{
	width:10%;
	float:left;
}
.noticeList li:nth-child(2){
	width:70%;
}
