@charset "UTF-8";
/*==============================================전체 기본 설정===============================================*/
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, ul, li{
	margin:0px;
	padding:0px;
	font-family: 'paybooc-Bold';
	list-style-type:none;
	min-height:717px;
}
a, a:visited, a:hover, a:active{
	text-decoration: none;
	color: black;
}
/*===========================================================================================================*/
#topBar{
	padding:0px;
	width:100%;
	height:60px;
	line-height:60px;
	background-color:rgb(230, 220, 215);
}
.logoDiv{
	text-align:center;
	position:relative;
}
.btnDiv{
	text-align:right;
}
#logo{
	width:160px;
	height:135px;
	position:absolute;
	transition:0.5s;
}
#logo:hover{
	width:160px;
	height:150px;
}
