@charset "UTF-8";
/*==============================================전체 기본 설정===============================================*/
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	margin:0px;
	padding:0px;
	font-family: 'paybooc-Bold';
	min-height:717px;
}
ul, li{
	margin:0px;
	padding:0px;
	font-family: 'paybooc-Bold';
	list-style-type:none;
}
a, a:visited, a:hover, a:active{
	text-decoration: none;
	color: black;
}
/*===========================================================================================================*/
#topBar{
	padding:0px;
	width:100%;
	height:60px;
	line-height:60px;
	background-color:rgb(230, 220, 215);
	z-index:1;
}
.logoDiv{
	text-align:center;
	position:relative;
}
#logo{
	width:160px;
	height:135px;
	position:absolute;
	transition:0.5s;
}
#logo:hover{
	width:160px;
	height:150px;
}
.btnDiv{
	text-align:right;
}
.loginBtn, .signUpBtn{
	background-color:rgb(85, 76, 66);
	color:white;
	border-radius:8px;
}
.menuBtn {
    display: block;
    position: absolute;
    top: 5px;
    left: 15px;
    width: 45px;
    height: 45px;
   	border:0;
   	outline:0;
   	background:none;
}
.menuBtn i {
    font-size: 1.5em;
}
.menuWrap {
    position: absolute;
    top:60;
    left: -300px; /* 너비 300px 인 사이드바를 왼쪽으로 300px 이동시켜 화면에 보이지 않게 함 */
    width: 300px; /* 너비 */
    height:92%;
    line-height:250px;
    text-align:center;
    font-size:1.5em;
    transition: left .3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
    background-color:rgba(85, 76, 66, 50%);
}
.menuWrap.on {
    left: 0;
}
.listStyle a {
	color:white;
}
