@charset "UTF-8";
#back_btn{
   display:inline-block;
   width:35px;
   height:35px;
   border: 4px solid #ddd;
   border-radius: 50%;
   padding:5px;
   position:absolute;
   left:10vw;
   top:15vh;
   cursor:pointer;
}
#contents{
	width:88%;
	height:100%;
	min-height:70.1vh; 
	float:right;
	margin-top:100px;
	margin-bottom:60px;
	font-size:15px;
	line-height:50px;
}
.simg{
	width:82%;
	height:400px;
  	margin-top:20px;
  	margin-bottom:30px;
	margin-left:50px;
}
.detail_grid{
	display:grid;
	grid-template-columns: repeat(2, 60%);
	grid-gap: 0.5em;
	width: 80%;
}
/*=========제목, 내용 부분===========*/
.detailstudy{
	width:105%;
	height:100%;
	padding:10px;
	margin-left:50px;
	box-shadow:0 0 10px rgba(0,0,0,30%);
	border-radius:15px;
	padding:40px;
}
.like_span{
	float:left;
	font-size:16px;
	font-weight:700;
}
.like_span img{
	width:40px;
	margin-right:10px;
}
.dname{
	margin-left:20px;
	margin-top:10px;
	font-size:25px;
	font-weight:700;
}
.dlike{
	float:right;
}
/* =====================스터디 언어 태그============================== */
.lang_list {
    background-color: #FEF5D4;
    border-radius: 5px;
    padding: 5px;
    font-size:12px;
}
.tag_list{
    overflow:hidden;
    background-color: rgb(232,244,232);
    border-radius: 5px;
	padding: 5px;
    font-size:12px;
}
/*==========참가 인원============*/
.participant{
	box-shadow:0 0 10px rgba(0,0,0,30%);
	border-radius:15px;
	width:60%;
	height:100%;
	padding:10px;
	position:relative;
	float:right;
	margin-left:17%;
}
.dmemeber{
	text-align:center;
}
.dnick{
	font-size:20px;
	font-weight:700;
}
.dimg{
	width:200px;
	border-radius:50%;
}
.peopleIcon{
	width:100%;
	height:50px;
}
.person_img{
	width:40px;
	height:40px;
}
.dmax_droom{
	text-align:center;
}
/* 스터디 룸 이동 버튼 */
#roombtn{
	width:200px;
	border: none;
	text-align: center;
	text-decoration: nonergb(232, 244, 232)ine-block;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
	background-color:rgb(230, 223, 215);
  	color:rgba(85, 76, 66, 80%);
   	font-size:16px;
   	font-weight:700;
}
/*=========신청 댓글 섹션===========*/
.sdetailuser{
	overflow:auto;
}
.study_apply{
	margin-bottom:20px;
}
.graySquare{
	width:75%;
	height:50px;
  	margin-top:45px;
  	padding-left:20px;
	margin-left:50px;
	border:2px solid rgba(0,0,0,30%);
	border-radius:15px;
}
#addReplybtn{
	border:none;
	border-radius:10px;
	background-color:rgb(230, 223, 215);
  	color:rgba(85, 76, 66, 80%);
   	font-size:16px;
   	font-weight:700;
}
.tid{		
	display: inline-block;
	width: 10%;
}
.duser{	
	display: inline-block;
	width: 10%;
}
.dcoment{
	border:1px solid gray;
	margin-right:50px;
}
#dcontent{
	width:45%;
}
/* =====================댓글============================== */
.qna_back03_reply{
	width:72.5vw;
	height:150px;
	box-shadow:0px 0px 10px rgba(0,0,0, 30%);
	margin:30px 3%;
	padding:20px;
	border-radius:10px;
	float:center;
}
.qna_profile_reply img{
	border-radius:50%;	
}
.qna_profile_reply{
	font-size:16px;
	font-weight:800;
}
.select_btn{
	float:right;
}
#qna_profile{
	width:50px;
	height: 50px;
}
#reply_comment{
	margin-left:20px;
	float:left;
}
#reply_btns{
	float:right;
	margin-right:20px;
}
.reply_edit, .reply_del{
	padding:7px;
	border:none;
	border-radius:10px;
	background-color:rgb(230, 223, 215);
  	color:rgba(85, 76, 66, 80%);
   	font-size:16px;
   	font-weight:700;
   	cursor:pointer;
}
/*=========댓글 수정===========*/
#want_coment{
	height:40px !important;
	line-height:40px !important;
	resize:none;
	overflow-y:hidden;
}
#replyEditbtn{
	width:80px;
	height:40px;
	line-height:40px;
	border:none;
	border-radius:10px;
	background-color:rgb(230, 223, 215);
  	color:rgba(85, 76, 66, 80%);
   	font-size:16px;
   	font-weight:700;
}