@charset "UTF-8";

#contents{
	width:80%;
	height:100%; 
	float:right;
	margin-top:60px;
	margin-bottom:60px;
	font-size:15px;
	line-height:50px;
}
.simg{
	width:82%;
	height:400px;
  	margin-top:20px;
  	margin-bottom:30px;
	margin-left:50px;
}
.detail_grid{
	display:grid;
	grid-template-columns: repeat(2, 60%);
	grid-gap: 0.5em;
	width: 80%;
}
.detailstudy{
	border: 1px solid gray;
	width:70%;
	height:100%;
	padding:10px;
	margin-left:50px;
}
.like_span{
	float:left;
}
.like_span img{
	width: 25px;
}
/* =====================스터디 언어 태그============================== */
.lang_list {
    background-color: #FEF5D4;
    border-radius: 5px;
    padding: 5px;
    font-size:12px;
}
.tag_list{
    overflow:hidden;
    background-color: rgb(232,244,232);
    border-radius: 5px;
	padding: 5px;
    font-size:12px;
}
.participant{
	border: 1px solid gray;
	width:75.5%;
	height:100%;
	padding:10px;
	position:relative;
}
.dmax_droom{
	position: absolute; 
	right: 10px; 
	bottom: 10px;
}
/* =====================스터디 룸 이동 버튼============================== */
#roombtn{
	background-color:rgb(230, 223, 215);
	border: none;
	color:rgba(85, 76, 66, 80%);
	text-align: center;
	text-decoration: nonergb(232, 244, 232)ine-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
}
.sdetailuser{
  	border: 1px solid gray;
	width:82%;
	height:300px;
  	margin-top:30px;
	padding:10px;
	margin-left:50px;
}
.tid{		
	display: inline-block;
	width: 10%;
}
.duser{	
	display: inline-block;
	width: 10%;
}
.dcoment{
	border:1px solid gray;
	margin-right:50px;
}
.editdelete{
	background-color:rgb(230, 223, 215);
	border: none;
	color:rgba(85, 76, 66, 80%);
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
}
#dcontent{
	width:45%;
}
/* =====================댓글 입력 버튼============================== */
/* #type_comment{
	position:absolute;
	bottom:0;
	right:0;
} */
#commentbtn{
	background-color:rgb(230, 223, 215);
	border: none;
	color:rgba(85, 76, 66, 80%);
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
}
/* =====================스터디 목록 이동 버튼============================== */
#slist_page{
	position:absolute;
	bottom:0;
	right:0;
}
#listbtn{
	background-color:rgb(230,223,215);
	border: none;
	color:rgba(85, 76, 66, 80%);
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: -70px 90px;
	border-radius: 5px;
	cursor: pointer;
}
.dimg{
	width:20%;
}