@charset "UTF-8";

/* =====================카테고리============================== */
#category_box{
	float:left;
	width:20%;
	height:100vh;
	
	padding:20px;
	margin-top:60px;
	background-color:rgb(230,223,215);
}
#category_top{
	margin-bottom:20px;
}
#category_top p{
	padding-bottom: 20px; 
	font-size: 20px;
}
#first_menu{
	margin-top:15px;
}
#s_date{
	float:left;
}
#stype1{
	float:left;
}
#sstatus1{
	float:left;
}
#second_menu li{
	font-size:20px;
	vertical-align:2px;
}
#second_menu input {
	vertical-align:2px;
}
/* =====================스터디 목록============================== */
#study_list{
	width:77%;
	float:right;
	margin-top:60px;
	margin-bottom:60px;
}
.info{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-around;
	width:100%;
	height:210px;
	line-height:50px;
}
.simg{
	height:200px;
	width:25%;
	padding:10px;
  	margin-top:20px;
  	margin-right:30px;
}
.simg img{
	width:100%; 
	object-fit:cover; 
	height:200px;
}
.sinfo{
	width:73%;
	height:200px;
	padding:10px;
  	margin-top:20px;
	font-size:15px;
}
.sid{		
	/* margin-right:190px; */
	display: inline-block;
	width: 270px;
}
.smentor, smax{
	text-align:right;
}
.sdate{
	display: inline-block;
	width: 270px;
}
.lang_list {
    background-color: #FEF5D4;
    border-radius: 5px;
    padding: 5px;
    font-size:12px;
}
.tag_list{
    overflow:hidden;
    background-color: rgb(232,244,232);
    border-radius: 5px;
	padding: 5px;
    font-size:12px;
}

input[type=checkbox]{
	margin-right:10px;
	
}
/* =====================페이징============================== */
.pagingContainer{
    margin:0 auto;
}
.page-link{
    border:none !important;
    font-size:1.5em;
    color:black !important;
}
.page-link:hover{
    background-color:rgba(85, 76, 66, 70%) !important;
    color:white !important;
    border-radius:5px !important;
}
/* =====================스터디 등록 버튼============================== */
#study_register{
	position:absolute;
	bottom:0;
	right:0;
}
#button{
	background-color:rgb(230,223,215);
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
}