@charset "UTF-8";

/* =====================카테고리============================== */
#category_box{
	float:left;
	width:20%;
	height:108vh;
	padding:40px;
	background-color:rgb(230,223,215);
	color:rgba(0,0,0,70%);
	position:relative;
	margin-top:60px;
}
#categoryt_box input{
	border:none;
}
#category_box h2{
	font-weight:900;
}
#category_top{
	margin-bottom:20px;
}
.first_menu{
	margin-bottom:40px;
	clear:both;
}
#stype1{
	float:left;
}
#sstatus1{
	float:left;
}
.second_menu, .second_menu01{
	overflow:auto;
	margin-top:15px;
}
.second_menu01{
	width:50%;
	font-size:15px;
}
.second_menu li{
	width:50%;
	float:left;
	font-size:15px;
}
#second_menu input {
	vertical-align:2px;
}
/*스터디 기간*/
#datepicker1, #datepicker2{
	border:none;
	border-radius:10px;
	width:40%;
	height:30px;
	text-align:center;
	font-size:14px;
	font-weight:600;
	color:rgba(0,0,0,60%);
}
/*스터디 언어*/
#langList, #searchWord{
	border:none;
	border-radius:10px;
	width:70%;
	height:30px;
	color:rgba(0,0,0,60%);
	font-size:14px;
	font-weight:600;
	text-align:center;
	margin:15px 0px;
}
/*스터디 검색*/
#searchWord{
	padding-left:10px;
}
#studySearchBtn{
	width:50px;
	height:30px;
	border:none;
	border-radius:10px;
	background-color:rgba(85, 76, 66, 70%);
	color:white;
	font-size:16px;
	font-weight:700;
	margin-left:10px;
}
/* =====================스터디 목록============================== */
#study_list{
	width:60%;
	height:97vh;
	float:right;
	margin-top:150px;
	margin-right:10%;
}
.info{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-around;
	width:100%;
	height:160px;
	line-height:50px;
	transition:0.5s;
}
.info:hover{
	background-color:rgba(85, 76, 66, 30%);
}
.simg{
	margin-top:3px;
}
.img-thumbnail{
	width:200px;
	height:150px;
}
.sinfo{
	width:73%;
	height:160px;
	padding:10px;
	font-size:15px;
}
.sname, .smentor{
	font-size:1.2em;
	font-weight:800;
}
.sid{		
	/* margin-right:190px; */
	display: inline-block;
	width: 270px;
}
.smentor, smax{
	text-align:right;
}
.sdate{
	display: inline-block;
	width: 270px;
}
.lang_list {
    background-color: #FEF5D4;
    border-radius: 5px;
    padding: 5px;
    font-size:12px;
}
.tag_list{
    overflow:hidden;
    background-color: rgb(232,244,232);
    border-radius: 5px;
	padding: 5px;
    font-size:12px;
}
/* =====================스터디 자세히 보기 버튼============================== */
.study_more{
	float:right;
	bottom:500;
	right:0;
}
.mbutton{
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
	background-color:rgb(230, 223, 215);
	color:rgba(85, 76, 66, 80%);
	font-size:16px;
	font-weight:700;
}

input[type=checkbox]{
	margin-right:10px;
	
}
/* =====================페이징============================== */
.pagingContainer{
    margin:0 auto;
    margin-top:40px !important;
    margin-bottom:20px !important;
}
.page-link{
    border:none !important;
    font-size:1.5em;
    color:black !important;
}
.page-link:hover{
    background-color:rgba(85, 76, 66, 70%) !important;
    color:black !important;
    border-radius:5px !important;
}

/* =====================스터디 등록 버튼============================== */
#study_register{
	text-align:right;
	margin-bottom:10px;
}
#studyTitle{
	text-align:center;
	font-family: 'ROKAFSansBold' !important;
	font-size:3em;
	position:absolute;
	top:100px;
	left:47%;
	z-index:1000;
}
#rbutton{
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
	background-color:rgba(85, 76, 66, 70%);
	color:white;
	font-size:16px;
	font-weight:700;
	margin-right:30px;
}