@charset "UTF-8";
#back_btn{
   display:inline-block;
   width:35px;
   height:35px;
   border: 4px solid #ddd;
   border-radius: 50%;
   padding:5px;
   position:absolute;
   left:10vw;
   top:1vh;
   cursor:pointer;
}
.room_div{
	min-height: 140vh;
	margin-top:100px;
}
#name_div{
	text-align:center;
	position:relative;
	margin-bottom:50px;
}
#name_span{
	margin:0 auto;
	padding:20px;
	border-radius:15px;
	font-size:25px;
	font-weight:900;
	background-color:#eee;
	position:relative;
}
.section_title{
	height:60px;
	padding:20px;
	font-weight:800;
}
.section_title p{
	letter-spacing:3px;
	font-size:20px;
	font-weight:800;
}
/*=======달력 박스==========*/
#calendar_box_parent{
	width:40%;
	height:650px;
	box-shadow:0 0 15px rgba(0,0,0,30%);
	border-radius:15px;
	text-align:center;
	float:left;
	margin-left:8%;
	position:relative;
}
#calendar_box{
	width:80%;
	z-index:100;
	margin:0 auto;
	position:absolute;
	top:0;
	left:4vw;
}
#calendar_box2{
	width:80%;
	height:600px;
	cursor:pointer;
	z-index:200;
	position:absolute;
	top:0;
	left:4vw;
}
.fc-button-group, .fc-toolbar-chunk button[type=button], #room_img{
	display:none;
}
.fc-view table, tbody{
	border-radius:10px;
}
/*=========화면공유 섹선===========*/
#screen_box{
	width:40%;
	height:650px;
	box-shadow:0 0 15px rgba(0,0,0,30%);
	border-radius:15px;
	text-align:center;
	display:line-block;
	float:left;
	margin-left:4%;
/* 	position:relative; */
}
#screen_img{
	width:300px;
	cursor:pointer;
}
#mate_table{
	line-height:30px;
	font-size:15px;
	margin:5%;
	width:90%;
}
#mate_table thead{
	font-size:18px;
	background-color:#eee;
}
#mate_table tr, td{
	border:1px solid #ddd;
}
#bulletin_box{
	width:84%;
	height:500px;
	margin-left:8%;
	top:70px;
	box-shadow:0 0 15px rgba(0,0,0,30%);
	border-radius:15px;
	position:relative;
	overflow: scroll;
}
#bulletin_box hr{
	width:75%;
}
#bulletin_box::-webkit-scrollbar{ display:none; }

