@charset "UTF-8";

#contents{
	width:80%;
	height:90vh; 
	float:right;
	margin-top:60px;
	margin-bottom:60px;
	font-size:15px;
	line-height:50px;
}
.simg{
	width:400px;
	height:300px;
	padding:10px;
  	margin-top:20px;
  	margin-bottom:30px;
}
.detailstudy{
	border: 1px solid gray;
	width:73%;
	height:300px;
	padding:10px;
}
.participant{
	border: 1px solid gray;
	width:73%;
	height:300px;
  	margin-top:5px;
	padding:10px;
}
.sdetailuser{
  	border: 1px solid gray;
  	width:73%;
	height:300px;
  	margin-top:5px;
  	
	padding:10px;
	float:left;
}
.tid{		
	display: inline-block;
	width: 100px;
}
.duser{	
	display: inline-block;
	width: 96px;
}
.dcoment{
	border:1px solid gray;
	width: 96px;
}

/* =====================스터디 언어 태그============================== */
.lang_list {
    background-color: #FEF5D4;
    border-radius: 5px;
    padding: 5px;
    font-size:12px;
}
.tag_list{
    overflow:hidden;
    background-color: rgb(232,244,232);
    border-radius: 5px;
	padding: 5px;
    font-size:12px;
}
/* =====================댓글 입력 버튼============================== */
/* #type_comment{
	position:absolute;
	bottom:0;
	right:0;
} */
#commentbtn{
	background-color:rgb(192, 192, 192);
	border: none;
	color: black;
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
}
/* =====================스터디 룸 이동 버튼============================== */
#roombtn{
	background-color:rgb(192, 192, 192);
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
}
/* =====================스터디 목록 이동 버튼============================== */
#slist_page{
	position:absolute;
	bottom:0;
	right:0;
}
#listbtn{
	background-color:rgb(230,223,215);
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
}