@charset "UTF-8";
#name_div{
	text-align:center;
}
#name_span{
	margin:0 auto;
	border-radius:5px;
	padding:10px;
	font-size:20px;
	background-color:#eee;
	width: auto;
	position:relative;
	top:100px;
	text-align:center;
}
#calendar_box{
	width:30vw;
	height:60vh;
	position:absolute;
	top:5vh;
	left:10vw;
}
#calendar_box2{
	width:30vw;
	height:60vh;
	position:absolute;
	top:5vh;
	left:10vw;
	z-index:10;
	cursor:pointer;
}
.fc-button-group, .fc-toolbar-chunk button[type=button], #room_img{
	display:none;
}
.fc-view table, tbody{
	border-radius:10px;
}
#screen_img{
	width:10vw;
	position:absolute;
	top:67vh;
	left:12vw;
	cursor:pointer;
}
#mate_table{
	position:absolute;
	top:70vh;
	left:25vw;
	width:12vw;
	line-height:30px;
	font-size:15px;
	border-radius:5px;
	text-align:center;
	padding:10px;
}
#mate_table thead{
	font-size:18px;
	background-color:#eee;
}
#mate_table tr, td{
	border:1px solid #ddd;
}